@import '@/styles/variables';

.levelsGrid {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  grid-area: palette;

  h2 {
    margin-bottom: 2rem;
  }
}

.scrollWrapper {
  flex: 1 1 auto;
  position: relative;
  margin: 0 -1rem 0 -1rem;

  :global {
    .mantine-ScrollArea-root {
      position: absolute;
      inset: 0;
    }
    .mantine-ScrollArea-viewport > div {
      display: block !important; // display: table breaks truncate text
    }
  }
}
