@import "@/styles/variables";

.details {
  h2 {
    display: flex;
    gap: $sw-margin;
    align-items: center;
  }

  :global {
    .playground {
      border: 1px solid hsla(0, 0%, 0%, 0.2);
      padding: 1rem;
      display: flex;
      gap: $sw-margin;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}
