@import '@/styles/variables';

.switch {
  min-width: 96px;
  display: flex;
  justify-content: flex-end;

  :global {
    .mantine-Switch-thumb {
      --switch-thumb-bg: var(--mantine-color-yellow-6);
      --switch-thumb-bd: var(--mantine-color-blue-4);
    }

    .mantine-Switch-body > input:checked + * > .mantine-Switch-thumb {
      --switch-thumb-bg: var(--mantine-color-blue-0);
      --switch-thumb-bd: var(--mantine-color-blue-9);
    }

    .mantine-Switch-track {
      --switch-bg: var(--mantine-color-blue-4);
      --switch-bd: var(--mantine-color-blue-4);
    }
  }
}
