@import '@/styles/variables';

.app {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 240px minmax(256px, auto) 240px 1fr;
  grid-template-rows: 1fr minmax(192px, auto) 1fr;
  grid-template-areas:
    '. . . . .'
    '. palette main right .'
    '. . . . .';
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  gap: 1rem;
  grid-area: main;
}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 1rem;
}

.actionsTop {
  display: flex;
  justify-content: space-between;
}

.actionsBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sceneSizeAndScale {
  display: flex;
  gap: 0.5rem;
}
