@import '@/styles/variables';

.app {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 240px minmax(200px, auto) 240px 1fr;
  grid-template-rows: 1fr minmax(320px, auto) 1fr;
  grid-template-areas:
    '. . . . .'
    '. palette main info .'
    '. . . . .';
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  gap: 1rem;
  grid-area: main;
}

.actionsTop {
  display: flex;
  justify-content: space-between;
}

.actionsBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
