@import '@/styles/variables';

.app {
  display: flex;
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  gap: 1rem;
}

.actionsTop {
  display: flex;
  justify-content: space-between;
}

.actionsBottom {
  display: flex;
  justify-content: space-between;
}
