@import '@/styles/variables';

.palette {
  border: 1px solid rgba(yellow, 0.25);
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 182px;
  padding: 1rem;
}
