@import "reset";
@import "variables";

:root[data-theme="light"] {
  color-scheme: light;
  --color: #{$sw-color-blue3};
  --background: #{$sw-color-white};
}
:root[data-theme="dark"] {
  color-scheme: dark;
  --color: #{$sw-color-blue1};
  --background: #{$sw-color-blue3};
}

// --------------------------------------

body {
  color: var(--color);
  background-color: var(--background);
  font-family: 'Lato', sans-serif;
}

a {
  color: $sw-color-orange;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $sw-color-orange;
  }
}
