@import 'variables';
//@import 'libs/sw-base-tools/src/styles/reset';

// modern way - is not enough here
//body {
//  min-height: 100vh;
//}

// old way
html, body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: normal;
}

// zen variables
// --------------------------------------

:root {
  --zen-color-warning: var(--mantine-color-yellow-6);
}

// some color-scheme overwriting
// --------------------------------------

:root[data-mantine-color-scheme='light'] {
  --mantine-color-body: #{$zen-color-body-light};

  .mantine-Paper-root {
    background-color: rgba(#fff, 0.4);
  }

}

:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: #{$zen-color-body-dark};
  --mantine-color-dark-6: #{lighten($zen-color-body-dark, 3%)};
  --mantine-color-dark-4: #{lighten($zen-color-body-dark, 10%)};

  .mantine-Paper-root {
    background-color: rgba(#000, 0.2);
  }
}
