@import 'variables';
//@import 'libs/sw-base-tools/src/styles/reset';

// --------------------------------------

// modern way
body {
  min-height: 100vh;
}
// old way
//html {
//  height: 100%;
//}
//body {
//  min-height: 100%;
//}

body {
  display: grid;
  place-content: center;
}
