@import '@/styles/variables';

.levelRow {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  cursor: pointer;
  --zen-level-row-selected: var(--zen-color-primary);

  @include lightMode {
    --hoverBg: hsl(0 0 0 / 0.05);
    --dragActiveBg: hsl(0 0 0 / 0.1);
  }

  @include darkMode {
    --hoverBg: var(--mantine-color-dark-6);
    --dragActiveBg: var(--mantine-color-dark-5);
  }

  &:hover {
    background-color: var(--hoverBg);
  }

  &[aria-selected='true'] {
    box-shadow: inset 4px 0 0 0 var(--zen-level-row-selected);
  }

  &:has(.dragHandler:active) {
    background-color: var(--dragActiveBg);
    position: relative;
    z-index: 1;
  }
}

.hidden {
  &[aria-selected='true'] {
    @include lightMode {
      --zen-level-row-selected: var(--mantine-color-gray-5);
    }

    @include darkMode {
      --zen-level-row-selected: var(--mantine-color-gray-7);
    }
  }

  :global {
    .mantine-ActionIcon-root:has(.tabler-icon-eye-off) {
      opacity: 0.5;
    }
  }
}

.actions {
}

.menuLabel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  :global {
    .tabler-icon {
      flex: 0 0 auto;
      margin-top: 2px;
      color: var(--zen-color-warning);
    }
  }

  //strong {
  //  display: block;
  //  margin-bottom: 0.25rem;
  //}
}


.dragHandler {
  cursor: grab;
  margin-right: -4px;
  opacity: 0.6;

  &:active {
    cursor: grabbing;
  }
}
