@import '@/styles/variables';

.levelRow {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  cursor: pointer;

  @include lightMode {
    --hoverBg: hsl(0 0 0 / 0.05);
    --dragActiveBg: hsl(0 0 0 / 0.1);
  }

  @include darkMode {
    --hoverBg: hsl(0, 100%, 100%, 0.1);
    --dragActiveBg: hsl(0, 100%, 100%, 0.2);
  }

  &:hover {
    background-color: var(--hoverBg);
  }

  &[aria-selected='true'] {
    box-shadow: inset 4px 0 0 0 $zen-color-primary;
  }

  &:has(.dragHandler:active) {
    background-color: var(--dragActiveBg);
    position: relative;
    z-index: 1;
  }
}

.actions {
}

.menuLabel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  :global {
    .tabler-icon {
      flex: 0 0 auto;
      margin-top: 2px;
      color: var(--zen-color-warning);
    }
  }

  //strong {
  //  display: block;
  //  margin-bottom: 0.25rem;
  //}
}


.dragHandler {
  cursor: grab;
  margin-right: -4px;

  &:active {
    cursor: grabbing;
  }
}
