@import '@/styles/variables';

.scroll {
  max-height: 100%;
  //border: 1px solid red;
  overflow: scroll;

  // grid breaks here when we are bigger then screen
  // display: flex;
  // place-content: center;

  flex: 1 1 auto;
}

.sceneWrapper {
  display: flex; // grid breaks here when we are bigger then screen
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  // we cannot move relative here and then have scene absolute
  // because tiny 3x3 * scale 2 scene won't be at the middle
}

.scene {
  position: relative;
  //box-shadow: inset 0 0 3px yellow;
}
