@import '@/styles/variables';

.tile {
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: var(--width);
  height: var(--height);
  pointer-events: none;

  //:global {
  //  * {
  //    pointer-events: none;
  //  }
  //}

  span {
    position: absolute;
    inset: 5px 0 0 0;
    text-align: center;
    color: black;
  }
}

.sprite {
  position: absolute;
}

.hotspot {
  position: absolute;
  pointer-events: none;

  g {
    path {
      pointer-events: auto;
      cursor: pointer;
      fill: transparent;
      //fill: rgba(#ccc, 0.2);
      //opacity: 0.25;
      //stroke: yellow;
      stroke-width: 1;
    }
  }

  g:hover {
    path {
      //fill: rgba(#ccc, 0.6);
      stroke: yellow;
    }
  }
}
