.tile {
  position: relative;
  width: var(--width);
  height: var(--height);
  pointer-events: none;

  //:global {
  //  * {
  //    pointer-events: none;
  //  }
  //}
}

.img {
  position: absolute;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  width: var(--width);
  height: var(--height);
  // https://blog.coderfy.io/css-variables-dont-work-with-the-url-function
  // background-image: url(var(--imageUrl));
  background-image: var(--imageUrl);
  background-position: var(--imagePosition);
  background-size: var(--imageSize);
}

.hotspot {
  position: absolute;
  pointer-events: none;

  g {
    path {
      pointer-events: auto;
      cursor: pointer;
      fill: transparent;
      //fill: rgba(#ccc, 0.2);
      //opacity: 0.25;
      //stroke: yellow;
      stroke-width: 1;
    }
  }

  g:hover {
    path {
      //fill: rgba(#ccc, 0.6);
      stroke: yellow;
    }
  }
}
