@import '@libs/sw-base-tools/src/styles/reset.scss';
@import './variables.scss';

body {
  background-color: #222;
  color: #eee;
  font-family: 'Lato', sans-serif;
}

a {
  color: $sw-color-yellow;
  text-decoration: none;

  //&:hover {
  //  border-bottom: 1px solid $sw-color-yellow;
  //}
  &:is(:hover, :focus) {
    border-bottom: 1px solid $sw-color-yellow;
    outline: 0 none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}
