@import '@/styles/variables';

.slot {
  user-select: none;
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: var(--width);
  height: var(--height);
  pointer-events: none;

  //:global {
  //  * {
  //    pointer-events: none;
  //  }
  //}
}

.label {
  position: absolute;
  inset: 15px 0 0 0;
  text-align: center;
  color: black;
  font-size: 12px;
}

.sprite {
  position: absolute;
}

.hotspot {
  position: absolute;
  pointer-events: none;

  g {
    path {
      pointer-events: auto;
      cursor: pointer;
      fill: transparent;
      //transition: fill 100ms;
      stroke: $zen-color-primary;
      stroke-width: 1;

      @include lightMode {
        stroke-opacity: 0;
      }

      @include darkMode {
        stroke-opacity: 0;
      }
    }
  }

  g:hover {
    path {
      fill: rgba($zen-color-primary, 0.25);
      stroke-opacity: 1 !important;
      opacity: 1;
      //stroke-width: 2;
      //stroke: red;
    }
  }
}
